 body {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 /*
     display: grid;
     grid-template-columns: 1fr 2fr;
     grid-template-rows: 1fr 2fr 1fr 1fr;
     grid-gap: 1rem;
     grid-template-areas: 
     "header" "header"
     "sidebar" "map" 
     "comments" "comments" 
     "footer" "footer"
  */

 #header {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(129, 33, 129);
     width: 90vw;
     height: 15vh;
     margin: 0 auto;
     border-radius: 10px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }

 /* #main-content {
     display: flex;
     justify-content: space-between;
 } */

 #sidebar {
     max-width: 90vw;
     /* margin: 5vh; */
     /* padding: none; */
     display: flex;
     justify-content: flex-start;
     /* padding-right: 40px; */
     background-color: rgb(182, 74, 182);
     border-radius: 10px;
     margin: 0 auto;
 } 

 #comments-container {
     display: flex;
     justify-content: flex-start;
     min-height: 10vh;
     max-width: 90vw;
     margin: 0 auto;
     background-color: rgb(182, 74, 182);
     border-radius: 10px;
 }

 footer {
     min-height: 10vh;
     margin: 5vh;
 }

 #map {
     height: 40vh;
     width: 60vw; 
     border-radius: 10px;
         
 }

 #map-container{
     display: flex;
     justify-content: center;
     max-width: 90vw;
     border-radius: 2px;
     margin: 0 auto;
 }

 ul{
     list-style-type: none;
     padding: none;
 }

 /************* footer styles *************/

#footer {
    grid-area: footer;
    margin: 0 auto;
    background-color: rgb(129, 33, 129);
    max-width: 90vw;
    max-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.footerContainer {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 1rem;
    grid-template-areas: "footerHeader footerHeader footerHeader footerHeader" "footerForm footerForm footerInfo footerInfo" "footerForm footerForm footerContact footerContact";
}

.footerHeader {
    font-variant: small-caps;
    text-align: center;
    font-size: 1.4rem;
    grid-area: footerHeader;
}

.footerForm {
    grid-area: footerForm;
}

.footerInfo {
    grid-area: footerInfo;
    padding: 5px 10px;
    text-align: justify;
    display: flex;
    align-items: flex-start;
}

.footerContact {
    grid-area: footerContact;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: .75em;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayFont {
    color: #a9a9a9;
}

.darkerGray {
    color: #696969;
}

#footer .formRowOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-bottom: 10px;
}

.formRowOne input {
    height: 30px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    font-size: 1.2em;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
    width: 95%;
}

.formRowTwo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin-bottom: 10px;
}

.formRowTwo textarea {
    min-width: 320px;
    min-height: 150px;
    width: 95%;
    margin-right: 10px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    border: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

#footer ul li {
    list-style-type: none;
    padding: 5px;
}

#listFormat {
    display: flex;
    flex-direction: row;
    padding: none;
}

.right {
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.left {
    margin: 0px;
}

#footer ul {
    padding: 5px;
}